---
layout: base
class: home
---
{% assign tags = "" | split: "" %}

{% for p in collections.projects %}
{% assign theseTags = p.data.project_tags | split: ","%}

{% for tag in theseTags %}
{% assign taglist = tags | join: "" | downcase %}
{% assign tag_lower = tag | downcase %}
{% unless taglist contains tag_lower %}
{% unless p.data.draft == true %}
{% assign tags = tags | concat: tag%}
{% endunless %}
{% endunless %}
{% endfor %}

{% endfor %}

<section class="hero">
  <h1 class="site__title"><span>lüften</span></h1>
  <canvas class='lines' id="lines"></canvas>
</section>
{% include nav.liquid %}
{% if settings.show_work %}
<section class="projects">
  <div class="intersection-sentry"></div>
  <button class="filters__open">Filter</button>
  <div class="filters">
    <button class="filters__close">
      {% include close.svg %}
      Schlißeen
    </button>
    <ul class="filters__tags">
      <li>
        <button class="active" data-filter="all">Alles</button>
      </li>
      {%for tag in tags %}
      <li>
        <button data-filter="{{tag | slug}}">{{tag}}</button>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="projects__list">
    {% for p in collections.projects %}
    {% assign ptags = p.data.project_tags | split: ","%}
    <a href="{{p.url | url }}" class="project__item" data-tags="{% for t in ptags %}{{t | slug}},{%endfor%}">
      <div class="projects__image">
        <img src="{{p.data.featured_image.image | url }}?nf_resize=fit&h=400" alt="{{p.data.featured_image.alt}}" />
      </div>
      <h3 class="project__title">{{p.data.title}}</h3>
    </a>
    {% endfor %}
  </div>
</section>
{% endif %}
{% include settings.liquid %}