---
layout: base
class: home
---
{% assign tags = "" | split: "" %}

{% for p in collections.projects %}
{% assign theseTags = p.data.project_tags | split: ","%}

{% for tag in theseTags %}
{% assign taglist = tags | join: ";" %}
{% assign tag_lower = tag | downcase | strip %}

{% unless taglist contains tag_lower %}
{% if tag_lower != "undefined" %}
{% assign tags = tags | concat: tag_lower%}
{% endif %}
{% endunless %}
{% endfor %}
{% endfor %}

{% assign tags = tags | sort %}
<section class="hero">
  <h3 class="site__title"><span>lüften</span></h3>
  <canvas class='lines' id="lines"></canvas>
</section>
{% include nav.liquid %}
{% if settings.show_work %}
<section class="projects">
  <div class="intersection-sentry"></div>
  <button class="filters__open">Filter</button>
  <div class="filters">
    <div class="filters__inner">
      <button class="filters__close">
        {% include close.svg %}
        Schlißeen
      </button>
      <ul class="filters__tags">
        <li>
          <button class="active" data-filter="all">Alles</button>
        </li>
        {%for tag in tags %}
        <li>
          <button data-filter="{{tag | slug}}">{{tag}}</button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <ul class="projects__list">
    {% for p in collections.projects %}
    {% assign ptags = p.data.project_tags | split: ","%}
    <li class="project__item {% unless p.data.featured_image.image %}no-image{% endunless %}" data-tags="{% for t in ptags %}{{t | slug}},{%endfor%}">
      <a href="{{p.url | url }}">
        <div class="projects__image">
          {% if p.data.featured_image.image %}
          {% assign url = p.data.featured_image.image %}
          {% image url, p.data.featured_image.alt, "20vw", "", "nf_resize=fit&h=400" %}
          {% endif %}
        </div>
        <h4 class="project__title">{{p.data.title}}</h4>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
{% include settings.liquid %}