---
layout: base
class: home
---
{% assign tags = "" | split: "" %}
  {% for p in collections.projects %}
    {% for tag in p.data.tags %}
      {% assign taglist = tags | join: "" | downcase %}
      {% assign tag_lower = tag | downcase %}
      {% unless taglist contains tag_lower %}
        {% unless p.data.draft == true %}
          {% assign tags = tags | concat: tag%}
        {% endunless %}
      {% endunless %}
  {% endfor %}
{% endfor %}

<section class="hero">
    <canvas class='lines' id="lines"></canvas>
</section>
<section class="projects">
    <nav class="filters">
        <button class="active" data-filter="all">All</button>
        {%for tag in tags %}
          <button data-filter="{{tag | slug}}">{{tag}}</button>
        {% endfor %}
    </nav>
    <div class="projects__list">
	{% for p in collections.projects %}
    <a href="{{p.url}}" class="project__item">
      <div class="project__image">
    <img src="{{p.data.featured_image.image}}" alt="{{p.data.featured_image.alt}}"/>
      </div>
    <h3 class="project__title">{{p.data.title}}</h3>
	</a>
	{% endfor %}
    </div>
</section>
{% include settings.liquid %}
