<!DOCTYPE html>
<html lang="de">

<head>
  {% assign t = "" %}
  {% if title %}
  {% capture t %}{{title}} / {{settings.meta_title}}{% endcapture %}
  {% else %}
  {% assign t = settings.meta_title %}
  {% endif %}

  {% assign thumb = "" %}
  {% if featured_image %}
  {% assign thumb = featured_image.image | url%}
  {% else %}
  {% assign thumb = settings.social_image | url %}
  {% endif %}

  {% assign thumb_alt = "" %}
  {% if featured_image %}
  {% assign thumb_alt = featured_image.alt %}
  {% else %}
  {% assign thumb_alt = "" %}
  {% endif %}

  {% assign desc = "" %}
  {% if project_title %}
  {% assign desc = project_title %}
  {% else %}
  {% assign desc = settings.meta_description %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{t}}</title>

  <meta name="description" content="{{ desc | escape }}">
  <link rel="stylesheet" href="{{"/main.css" | url}}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@HS_Mainz">
  <meta name="twitter:site" content="@HS_Mainz">
  <meta name="twitter:title" content="{{ t }}">
  <meta name="twitter:description" content="{{desc | escape }}">
  <meta name="twitter:image" content="{{ thumb }}">
  <meta name="twitter:image:alt" content="{{ thumb_alt | escape }}">

  <meta property="og:title" content="{{t}}">
  <meta property="og:description" content="{{desc}}">
  <meta property="og:type" content="article">
  <meta property="og:image" content="{{thumb}}">

  <link rel="icon" type="image/png" sizes="32x32" href="{{"/assets/favicon-32x32.png" | url}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{"/assets/favicon-16x16.png" | url}}">
  <link rel="mask-icon" href="{{"/assets/safari-pinned-tab.svg" | url}}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <script src="{{"/main.js" | url}}"></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% include fonts.liquid %}
</head>

<body class='{{ class }}' data-showing-work="{{settings.show_work}}">
  <a href="#content" class="skip-link">Zum Inhalt springen</a>
  <header class="site__header">
    <h1 class="site__links">
      <a class="hs" href="https://www.hs-mainz.de/">
        {% include hs-logo.svg %}
        HS Mainz
        {% include arrow.svg %}
      </a>
      <a href="https://kd.hs-mainz.de/">
        <i class="short">
          KD
        </i>
        <i class="long">
          Kommunikationsdesign
        </i>
        {% include arrow.svg %}
      </a>
    </h1>
    <h2>
      <span>
        06.07. – 16.07.
      </span>
      <span class="show-title">
        Lüften im Lux
      </span>
      <span class="show-subtitle--long">
        Bachelor– und Masterausstellung 2021
      </span>
      <span class="show-subtitle--short">
        BaMa 2021
      </span>
    </h2>
  </header>
  <div class="content-wrapper" id="#content">
    {{ content }}
  </div>
  <canvas class="cursor"></canvas>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>