---
layout: base
class: single
---

{% include nav.liquid %}
<article class="single-project">
  <section class="project__copy">
    <div class="project__text">
      <h2 class="project__person">
        {{title}}
      </h2>
      <h3 class="project__title">{{project_title}}</h3>
      {% if prof %}
      {% assign profs = prof | split: ","%}
      <p class="project__supervisor">Betreuung:
        {% for p in profs %}
        <span>{{p | strip}}</span>
        {% endfor %}
      </p>
      {% endif %}
      <p class="project__course">
        {% if course == "MA" %}
        MA Kommunikationsdesign
        {% else %}
        BA Kommunikationsdesign
        {% endif %}
      </p>
      <div class="project__body">
        {{content}}
      </div>
      <ul class="project__links">
        {% for l in links %}
        <li>
          <a href="{{l.url}}">
            {{l.url | cleanURL }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="project__images">
    {% for i in gallery%}
    {% if i.image contains ".mp4" %}
    <div data-has-audio="{{i.hasAudio}}" class="video__container is-muted">
      <video muted autoplay playsinline loop class="project__image" src="{{i.image | url}}"></video>
      <button class="video__mute">
        Mute/Unmute
        {% include volume-high.svg %}
        {% include volume-mute.svg %}
      </button>
    </div>
    {% else %}
    {% assign url = i.image %}
    {% image url, i.alt, "(min-width: 45rem) 50vw, 100vw", "project__image", "nf_resize=fit&w=1500" %}
    {% endif %}
    {% endfor %}
  </section>
</article>